.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
venv
checkpoints
sam2
sam2_configs
.devcontainer
assets
notebooks
logs
pyproject.toml
.clang-format
PREDICT